<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des utilisateurs</title>
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
  <h1>Liste des utilisateurs</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Âge</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.nom %></td>
          <td><%= user.email %></td>
          <td><%= user.age %></td>
          <td><a href="/users/<%= user.id %>/edit"><button>Modifier</button></a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
